@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "variables";
@import "header";
@import "catalog";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
